.claim-card {
  background: url('../../assets/detail-bg.png') no-repeat;
  background-size: 15.625rem;
  background-position: top right;
  background-color: #fefcf3;
  text-align: right;
  padding: 1.25rem 1.25rem 1.25rem 3.75rem;
  border-radius: 0.313rem;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.938rem;
  position: relative;
  img {
    position: absolute;
    left: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  h2 {
    font-weight: 600;
    font-size: 1.25rem;
    min-height: 1.875rem;
    margin-top: 0.313rem !important;
  }
  p {
    font-size: 0.75rem;
    line-height: 0.875rem;
    min-height: 1.875rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}