.register {
  background: url('../../assets/ac-Background.svg') no-repeat;
  background-size: cover;
  
  .h-100vh {
    min-height: 100vh;
    // padding-top: 6.25rem;
    form {
      flex: 1;
      .login-card {
        box-shadow: 0.625rem 0.625rem 1.875rem #0000000F;
        border-radius: 0.3125rem;
        max-width: 30.5rem;
        padding: 2.8125rem 5rem;
        @media only screen and (max-width : 30rem) {
          padding: 1.5625rem;
        }
        h3 {
          font-size: 1.25rem;
          font-weight: 800;
          padding-bottom: 0.875rem;
          border-bottom: 0.125rem solid #F4E294;
        }
      }
    }
  }
}
