input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login-card {
  label {
    color: #575757;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .form-control {
    // background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 14px;
    min-height: 50px;
    border-color: transparent;
    transition: .2s linear;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #F4E294;
      background-color: white !important;
    }
  }
}