.merchant-dash2 {
  .actionBtns {
    .btn {
      font-size: 0.75rem !important;
      line-height: 0.75rem !important;
      min-width: 6.125rem;
      height: 1.75rem !important;
      padding-top: 0.3125rem !important;
    }
    .dropdown-toggle {
      min-width: 148px !important;
      color: #000 !important;
      border-color: #F4E294 !important;
    }
  }
}
