@import "../../App.scss";

.header {
  .navbar-brand {
    margin: auto;
  }
  .menu {
    position: absolute;
    right: 0;
    @media only screen and (max-width : 992px) {
      position: static;
      right: inherit;
    }
    .contactus {
      background-color: theme-color("black");
      color: #fff !important;
      border-radius: 10px 0 10px 0;
    }
  }

}