.merchant-dash2 {
  .orderProject {
    background: url('../../assets/detail-bg.png') no-repeat;
    background-size: 40.625rem;
    background-position: top right;
    background-color: #fefcf3;
    text-align: right;
    padding: 1.25rem;
    min-height: 6rem;
    margin-bottom: 0.9375rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1.25rem;
    flex: 1;
    width: 100%;
    min-height: 12.5rem;
    &::after {
      content: '';
      height: 0.25rem;
      background-color: #F7EEAC;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0.25rem;
    }
    p {
      font-size: 0.75rem;
     
    }
    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0.625rem 0 0 0;
    }
  }
  .post-day-dropdown {
    .dropdown-toggle {
      border-color: #707070 !important;
      color: #707070 !important;
      opacity: 0.8;
      min-width: 6.25rem !important;
    }
  }
  .lineChart {
    canvas {
      width: 100% !important;
    }
  }
  .analytics-blk {
    .claim-card {
      padding-left: 4.0625rem;
      h2 {
        text-align: left;
      }
      p {
        justify-content: flex-start !important;
        text-align: left;
      }
    }
  }
}
