.z-up {
  z-index: 55551;
}
.z-up2 {
  z-index: 5555;
}
.select-dropdown {
  .btn {
    background: #FDFBF0 !important;
    border-radius: 5px;
    height: 50px;
    border-color: transparent !important;
    color: #575757;
    margin-bottom: 16px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: none !important;
    position: relative;
    z-index: 1100 !important;
    
    &::after {
      color: #F4E294;
      font-size: 20px;
      transition: .2s linear;
    }
    &:hover {
      border-color: #F4E294 !important;
    }
    &.show {
      &::after {
        transform: rotate(180deg);
        
      }
    }
  }
  .dropdown-menu {
    background-color: #EFEFEF;
    border-color: transparent;
    width: 100%;
    // transform: inherit !important;
    inset: auto !important;
    top: 42px !important;
    border-radius: 0 0 5px 5px;
    min-width: 100px;
    padding-bottom: 0;
    animation: growDown 0.5s ease-in-out forwards;
    transform-origin: top center;
    @keyframes growDown {
      0% {
        transform: rotateX(-90deg);
      }
      50% {
        transform: rotateX(-20deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }
    a {
      color: #363636;
      border-bottom: 1px solid #ccc;
      background-color: transparent !important;
      padding: 10px 20px;
      font-size: 14px;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: #15151509 !important;
      }
    }
  }
}