.merchant {

  .cl-value {
    input {
      text-align: right;
      @media only screen and (max-width: 61.9375rem) {
        text-align: left;
      }
    }
  }

  .claim-items {
    list-style: none;
    height: 11.375rem;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
      border-radius: 0.625rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #F6F6F6;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #F8EDAF;
      border-radius: 0.625rem;
    }

    li {
      display: flex;

      .me-3 {
        display: none;
      }

      .item-image {
        img {
          height: 3.125rem;
          width: 3.125rem;
          min-width: 3rem;
          object-fit: cover;
        }
      }

      .item-detail {
        p {
          color: #575757;
          font-size: 0.875rem;
          line-height: 1rem;

          small {
            font-size: 0.625rem;
          }
        }

        .price-text {
          color: #000;
        }
      }
    }
  }

}