.orderID {
  border-bottom: 0.125rem solid #F4E294;
  padding: 0.875rem 0 1.5rem 0;

  .backbtn {
    img {
      min-width: 2.5rem;
    }
  }

  p {
    color: #CCCCCC;
    font-size: 0.875rem;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 600;
  }

  .actionBtns {
    button {
      min-height: 2.625rem;
    }
  }
}