.bill-details {
  background: #F4E2940A;
  border: 0.0625rem solid #E2C7507A;
  border-radius: 0.3125rem;
  padding: 1.875rem;
  max-width: 28.375rem;
  @media only screen and (max-width: 61.9375rem) {
    max-width: 100%;
    padding: 0.9375rem;
  }
  h2 {
    font-size: 0.875rem;
    border-bottom: 0.0625rem solid #00000021;
    font-weight: 600;
    padding: 0.75rem 0;
  }
  .edit-field {
    position: relative;
    label {
      margin: 0.625rem 0;
      font-size: 0.875rem;
    }
    input {
      border: 0.0625rem solid #F4E294 !important;
      margin-bottom: 0.3125rem;
      font-size: 0.875rem;
      font-weight: 600;
      min-height: 3.125rem;
      box-shadow: none !important;
      padding-right: 2.1875rem;
      &:focus {
        background-color: #F4E294;
      }
    }
    .edit-action {
      position: absolute;
      bottom: 0.9375rem;
      right: 0.9375rem;
    }
    &.active {
      input {
        background-color: #F4E294;
      }
    }
  }
  .btn-secondary {
    background-color: #F4E2942E !important;
    border-color: #F4E2942E !important;
  }
}