.aftercard-modal.claim {
  .modal-lg {
    max-width: 40.625rem;
  }
  .modal-md {
    max-width: 30rem;
  }
  .modal-dialog {
    .modal-content {
      padding: 1.875rem 3.125rem !important;
      box-shadow: 0.625rem 0.625rem 1.875rem #0000000F;
      border-radius: 0.3125rem;
      border: 0;
      @media only screen and (max-width : 37.5rem) {
        padding: 0.625rem 1.25rem !important;
      }
      .btn-close {
        font-size: 0.625rem;
        position: absolute;
        right: 1.5625rem;
        top: 1.5625rem;
      }
      .modal-title {
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        margin: 0;
        padding: 0.9375rem 0;
        border-bottom: 0.0625rem solid #F4E294;
      }
      label {
        color: #575757;
        font-size: 0.875rem;
        margin-bottom: 0.625rem;
      }
      .form-control {
        border-radius: 0.3125rem;
        font-size: 0.875rem;
        min-height: 3.125rem;
        border-color: transparent;
        transition: .2s linear;
        border-color: transparent !important;
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: #F4E294 !important;
          background-color: white !important;
        }
      }
    }
  }

}