.seach-blk {
  .form-control {
    background: url('../../assets/search.svg') no-repeat;
    background-size: 1.25rem;
    background-position: calc(100% - 0.9375rem);
    padding-right: 2.5rem;
    padding-left: 1.25rem;
    background-color: #fcf8e485;
    border-radius: 0.3125rem;
    height: 2.5rem;
    border-color: transparent;
    color: #000;
    font-size: 0.875rem;
    &::placeholder {
      opacity: 0.5; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      opacity: 0.5; /* Firefox */
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      opacity: 0.5; /* Firefox */
    }
    &:focus {
      box-shadow: none;
      border-color: #F4E294;
    }
  }
  .tags {
    font-size: 0.875rem;
    .tag {
      background: #F5F5F5;
      border-radius: 0.3125rem;
      display: inline-flex;
      padding: 0.25rem 0.625rem;
      font-size: 0.75rem;
      color: #2E2E2E;
      text-decoration: none;
      align-items: center;
      margin: 0.4375rem;
      transition: .2s linear;
      &:hover {
        background-color: #CCCCCC;
        svg {
          rect {
            fill: #F5F5F5;
          }
        }
      }
    }
  }
}