.aftercard-modal.claim-form {
  padding: 0 0.625rem !important;
  @media only screen and (max-width : 35.9375rem) {
    padding: 0 !important;
  }
  .backbtn {
    position: absolute;
    left: 0;
    top: 0.6875rem;
    @media only screen and (max-width : 48rem) {
      position: static;
    }
  }
  .modal-lg {
    max-width: 73.125rem;
  }
  .modal-dialog {
    .modal-content {
      padding: 1.875rem 3.125rem !important;
      box-shadow: 0.625rem 0.625rem 1.875rem #0000000F;
      border-radius: 0.3125rem;
      border: 0;
      @media only screen and (max-width : 37.5rem) {
        padding: 0.625rem 1.25rem !important;
      }
      h2,
      .modal-title {
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        margin: 0;
        padding: 0.9375rem 0;
        border-bottom: 0.0625rem solid #F4E294;
      }
      h2 {
        font-size: 1.125rem;
        small {
          font-size: 0.75rem;
          line-height: 0.6875rem;
          font-weight: 400;
          color: #575757;
        }
        .upload-btn {
          position: relative;
          overflow: hidden;
          height: 1.875rem;
          padding: 0.3125rem !important;
          line-height: 0.875rem;
          font-size: 0.875rem;
          input {
            position: absolute;
            right: 0;
            height: 100%;
            cursor: pointer;
            top: 0;
            opacity: 0;
          }
        }
      }
      label {
        color: #575757;
        font-size: 0.875rem;
        margin-bottom: 0.625rem;
      }
      .form-control {
        border-radius: 0.3125rem;
        font-size: 0.875rem;
        min-height: 3.125rem;
        border-color: transparent;
        transition: .2s linear;
        border-color: transparent !important;
        border-color: #F4E294 !important;
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: #F4E294 !important;
          background-color: white !important;
        }
      }
      .fileClaim-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
          min-width: 9.375rem;
          margin: 1.25rem 0;
          .mute-text {
            color: #E5E5E5;
            font-size: 0.75rem;
            font-weight: 300;
          }
          p {
            color: #575757;
            font-size: 0.875rem;
          }
        }
      }
      .aftercard-select {
        position: relative;
        select {
          background: #FDFBF0;
          border-radius: 0.3125rem;
          height: 3.125rem;
          border: 0;
          color: #575757;
          margin-bottom: 1rem;
          font-size: 0.875rem;
        }
        &:after {
          content: "";
          display: inline-block;
          border-left: 0.375rem solid transparent;
          border-right: 0.375rem solid transparent;
          border-top: 0.375rem solid #F4E294;
          position: absolute;
          right: 1.25rem;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 0.375rem;
          pointer-events: none;
        }
      }
      .attachment-file-list {
        text-align: center;
        display: flex;
        list-style: none;
        padding: 0;
        overflow-x: auto;
        /* width */
        &::-webkit-scrollbar {
          width: 0.3125rem;
          height: 0.3125rem;
          border-radius: 0.625rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #F6F6F6; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #F8EDAF;
          border-radius: 0.625rem;
        }

 
        li {
          position: relative;
          margin-right: 0.625rem;
          .btn-close {
            height: 0.875rem !important;
            width: 0.875rem !important;
            border: 0.0625rem solid #000;
            border-radius: 50%;
            font-size: 0.625rem !important;
            background-size: 50%;
            padding: 0;
            top: 0.625rem;
            left: 0.625rem;
          }
          p {
            color: #575757;
            font-size: 0.625rem;
            margin-top: 0.375rem;
          }
          img {
            background: #FDFBF0;
            border-radius: 0.3125rem;
            height: 6rem;
            max-width: 6rem;
            min-width: 6rem;
            display: block;
            object-fit: cover;
          }
        }
        
      }
      .claim-items {
        list-style: none;
        height: 15.625rem;
        overflow-y: auto;
        /* width */
        &::-webkit-scrollbar {
          width: 0.3125rem;
          height: 0.3125rem;
          border-radius: 0.625rem;
        }
      
        /* Track */
        &::-webkit-scrollbar-track {
          background: #F6F6F6; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #F8EDAF;
          border-radius: 0.625rem;
        }
        li {
          display: flex;
          .item-image {
            img {
              height: 3rem;
              width: 3rem;
              min-width: 3rem;
              object-fit: cover;
            }
          }
          .item-detail {
            p {
              color: #575757;
              font-size: 0.875rem;
              line-height: 1rem;
              small {
                font-size: 0.625rem;
              }
            }
            .price-text {
              color: #000;
            }
          }
        }
      }
      .form-check-input {
        box-shadow: none !important;
        border: 0;
        background: url('../../assets/Checkbox-unselected.svg');
        background-size: 100% 100%;
        &:checked {
          background: url('../../assets/Checkbox-Selected.svg');
          background-size: 100% 100%;
        }
      }
    }
  }

}