.setting {
  .form-switch {
    padding-left: 2.5em;
    box-shadow: none !important;
    opacity: 0.7;
    border-color: #eee !important;
    .form-check-input {
      width: 32px !important;
      height: 16px !important;
    }

  }
  .form-check-input:focus {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    background-image: url('../../assets/dot.svg');
  }
  .form-check-input:checked {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none !important;
    background-position: right center;
    background-image: url('../../assets/dot.svg');
  }
  label {
    min-width: 260px;
    font-size: 14px;
    color: #575757;
    font-weight: 500;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    small {
      color: #575757;
      opacity: 0.8;
    }
  }
  .color-field {
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
    .inner {
      background-color: #E3E3E387;
      padding: 0 15px;
      min-height: 50px;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      border-radius: 5px;
      min-width: 150px;
      .form-control-color {
        padding: 0;
        width: 34px;
        font-size: 12px;
        border-radius: 2px;
        border: 0;
        background-color: transparent;
      }
    }
  }
  .widget-field {
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
    > div {
      flex: 1;
    }
    select {
      border: 1px solid #F4E294;
      border-radius: 6px;
      box-shadow: none;
      min-height: 50px;
      background-image: url('../../assets/down-arrow.png');
      background-size: 10px;
      font-size: 12px;
      color: #575757;
    }
    .form-control {
      border: 1px solid #F4E294;
      border-radius: 6px;
      box-shadow: none;
      min-height: 50px;
      font-size: 12px;
      color: #575757;
      min-width: 150px;
    }
    .upload-btn {
      position: relative;
      overflow: hidden;
      height: 30px;
      padding: 5px !important;
      line-height: 14px;
      font-size: 14px;
      input {
        position: absolute;
        right: 0;
        height: 100%;
        cursor: pointer;
        top: 0;
        opacity: 0;
      }
    }
  }
  .preview {
    h6 {
      color: #575757;
      opacity: 0.38;
      font-size: 12px;
      font-weight: 400;
    }
    .inner  {
      border-radius: 5px;
      border: 1px solid #F4E294;
      padding: 10px 15px;
      color: #575757;
      font-size: 12px;
      .icon {
        height: 40px;
        min-width: 40px;
        border-radius: 5px;
        background-color: #F4E294;
      }
    }
    .form-check-input:checked {
      background-color: rgba(238, 238, 238, 0.685);
      border-color: transparent;
      box-shadow: none !important;
      background-position: right center;
      background-image: url('../../assets/dot.svg');
    }
  }
}
