.merchant {
  .orderID {
    border-bottom: 2px solid #F4E294;
    padding: 5px 0 24px 0;

    .backbtn {
      img {
        min-width: 40px;
      }
    }

    p {
      color: #CCCCCC;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
      font-weight: 600;
    }

    .actionBtns {
      button {
        min-height: 42px;
      }
    }
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .heading {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #F4E294;
  }

  label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .form-control {
    border-color: transparent;
    background-color: #fbf6dc6b;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;

    &:focus {
      box-shadow: none;
      border-color: #F4E294;
    }
  }

  .cl-value {
    input {
      text-align: right;
      @media only screen and (max-width: 991px) {
        text-align: left;
      }
    }
  }

  .claim-items {
    list-style: none;
    height: 182px;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border-radius: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #F6F6F6;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #F8EDAF;
      border-radius: 10px;
    }

    li {
      display: flex;

      .me-3 {
        display: none;
      }

      .item-image {
        img {
          height: 50px;
          width: 50px;
          min-width: 48px;
          object-fit: cover;
        }
      }

      .item-detail {
        p {
          color: #575757;
          font-size: 14px;
          line-height: 16px;

          small {
            font-size: 10px;
          }
        }

        .price-text {
          color: #000;
        }
      }
    }
  }

  .attachment-heading {
    p {
      color: #575757;
      font-weight: 600;
    }
  }

  .notes-slider {
    .carousel-indicators {
      bottom: -45px;

      button {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        border: 1px solid #F4E294;
        background-color: #fff;

        &.active {
          background-color: #F4E294;
        }
      }
    }

    .note-card {
      background-color: #FDFBF0;
      padding: 30px 20px 20px 26px;
      border-radius: 5px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        border-bottom: 50px solid white;
        border-left: 50px solid transparent;
        right: 0;
        bottom: 0;
      }

      .scroll {
        height: 124px;
        overflow-y: auto;
        margin-bottom: 35px;

        /* width */
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          border-radius: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #FFFFFF;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #F8EDAF;
          border-radius: 10px;
        }
      }

      .date-text {
        font-size: 10px;
        color: #57575775;
        padding-top: 20px;
      }

      .card-btm-corner {
        width: 50px;
        height: 50px;
        background-color: transparent;
        position: absolute;
        border-radius: 5px;
        overflow: hidden;
        right: 0;
        bottom: 0;

        &::before {
          content: '';
          position: absolute;
          border-top: 50px solid #F7EEAC;
          border-right: 50px solid transparent;
          right: 0;
          bottom: 0;
        }
      }

      .note-card-title {
        font-size: 20px;
        padding-bottom: 7px;
        color: #575757;
        font-weight: 600;
      }

      .note-card-detail {
        font-size: 12px;
        color: #575757;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 7px;
      }
    }
  }

  .chat-slider {
    .scroll {
      height: 108px !important;
      margin-bottom: 10px !important;

      /* Track */
      &::-webkit-scrollbar-track {
        background: #F6F6F6 !important;
      }
    }

    .chat-btn {
      font-size: 12px;
      font-weight: 600 !important;
      color: #fff !important;
      max-width: 140px;
      margin: 0 auto;
      margin-top: 15px;
      min-height: 36px;
      position: relative;

      &.active {
        &:after {
          content: "";
          width: 6px;
          height: 6px;
          background: #E87A7A;
          display: inline-block;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          right: 6px;
        }
      }
    }

    .note-card {
      &:after {
        display: none;
      }
    }
  }

  .pic-list {

    .scroll-bar::-webkit-scrollbar {
      height: 6px;
    }
    .scroll-bar::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #F6F6F6;
      border-radius: 8px;
      background-color: #F6F6F6;
    }
    .scroll-bar::-webkit-scrollbar-thumb {
      background: #F8EDAF;
      border-radius: 8px;
    }
    ul {
      list-style: none;
      padding: 0;
      overflow-x: auto;
      max-width: calc(100vw - 60px);
      li {
        min-width: 116px;
        margin-right: 18px;
        .img-block {
          display: flex;
          position: relative;
          > img {
            width: 100%;
            height: 118px;
            margin-bottom: 15px;
            object-fit: cover;
          }
          .expand {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            cursor: pointer;
          }
        }
      }
    }

  }

  .request-block {
    border: 1px solid #F4E294;
    border-radius: 5px;
    padding: 30px 0;
    margin-bottom: 15px;
    .req-title {
        font-size: 20px;
    }
    p {
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        padding-bottom: 20px;
    }
  }


}

