.merchant {
  .orderID {
    border-bottom: 2px solid #F4E294;
    padding: 15px 0 24px 0;
    p {
      color: #CCCCCC;
      font-size: 14px;
    }
    h2 {
      font-size: 22px;
      font-weight: 600;
    }
  }
}
