.merchant-detail {
  .product-detail {
    .pd-in {
      background-color: #F8EDAF;
      font-size: 0.875rem;
      font-weight: 600;
      display: flex;
      width: 100%;
      padding: 0.25rem 1.25rem;
      border-radius: 0.3125rem;
      align-items: center;
      min-width: 15.625rem;
      min-height: 3.125rem;
      img {
        margin-right: 0.9375rem;
      }
    }
    .form-control {
      background-color: #fff !important;
      border-color: #F4E294 !important;
      max-width: 8.125rem;
      min-height: 3.125rem;
      margin: 0.5rem 0.9375rem !important;
      @media only screen and (max-width: 37.5rem) {
        flex: 1;
        min-width: 8.125rem;
        max-width: inherit;
        margin-left: 0 !important;
      }
    }
  }
  h6 {
    color: #575757;
    font-size: 0.875rem;
    font-weight: 600;
    margin: 1.5625rem 0 0.9375rem 0;
  }

}
