.dashbordpage {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1400px) {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
    .inner-content {
      flex: 1;
      .welcomeBlk {
        box-shadow: 10px 10px 30px #0000000D;
        border-radius: 5px;
        width: 100%;
        max-width: 696px;
        text-align: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: -1px;
        }
        .letsget {
          border: 1px solid #F4E294;
          border-radius: 5px;
          padding: 20px;
          max-width: 365px;
          margin: 30px auto;
          min-height: 200px;
          .rotate {
            animation: rotation 6s infinite linear;
          }
          
          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
          p {
            color: #575757;
            font-size: 15px;
            strong {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

}
