.dashbordpage {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 87.5rem) {
      padding: 2.0625rem 3.125rem !important;
    }
    .inner-content {
      flex: 1;
      .welcomeBlk {
        box-shadow: 0.625rem 0.625rem 1.875rem #0000000D;
        border-radius: 0.3125rem;
        width: 100%;
        max-width: 43.5rem;
        text-align: center;
        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: -0.0625rem;
        }
        .letsget {
          border: 0.0625rem solid #F4E294;
          border-radius: 0.3125rem;
          padding: 1.25rem;
          max-width: 22.8125rem;
          margin: 1.875rem auto;
          min-height: 12.5rem;
          .rotate {
            animation: rotation 6s infinite linear;
            height: 2.8rem;
            width: 2.8rem;
          }
          
          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
          p {
            color: #575757;
            font-size: 0.9375rem;
            strong {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

}
